.form {
  width: 50%;  
  margin: 2rem auto;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.26);
  padding: 4rem;
  border-radius: 5px;
}
.form-control {
    margin: 0.5rem auto;
}
.form-control input {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 0.4rem auto;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 1px solid gray;
}
.button{
    border: 1px solid gray;
    width: 30%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: auto;

}
.button .link{
    color: white;
    
}
